.skills {
  background-color: #000000; /* Dark background */
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

#skills-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.skills-layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-category {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.skills-category h2 {
  color: #e74c3c;
  margin: 0 0 15px 0; /* Reset the top and side margins */
  padding: 0; /* Reset the padding */
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  position: relative;
  padding-left: 30px;
  margin: 0 0 10px 0; /* Reset the top and side margins */
}

.skills-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 8px;
  background-color: #e74c3c; /* Candle body */
  border-top: 10px solid #e74c3c; /* Wick top */
  border-bottom: 10px solid #e74c3c; /* Wick bottom */
}

@media screen and (max-width: 768px) {
  .skills-layout {
    flex-direction: column;
    align-items: center;
  }

  .skills-category {
    width: 100%;
  }
}
