.title {
  /* underline text */
  text-decoration: underline;
}

.profile-picture {
  border-radius: 50%; /* This will make the image circular */
  position: absolute; /* This will take the image out of the normal flow */
  top: 0; /* This will position the image at the top */
  right: 0; /* This will position the image at the right */
}

#about p {
  font-size: 1.2em; /* This will make the text larger */
  line-height: 1.5; /* This will increase the space between lines */
  color: #ffe9e9; /* This will make the text darker */
  margin-bottom: 1em; /* This will add space below each paragraph */
}

.profile-picture {
  border-radius: 50%; /* This will make the image circular */
  position: absolute; /* This will take the image out of the normal flow */
  top: 0; /* This will position the image at the top */
  right: 0; /* This will position the image at the right */
}

@media screen and (max-width: 768px) {
  .title {
    text-decoration: none; /* Remove underline on smaller screens */
  }

  .profile-picture {
    position: static; /* Reset position to normal flow */
    border-radius: 0; /* Remove circular border */
    margin-bottom: 1em; /* Add space below the image */
  }

  #about p {
    font-size: 1em; /* Decrease font size */
    line-height: 1.2; /* Decrease line height */
    color: #ffffff; /* Change text color to black */
    margin-bottom: 0.5em; /* Decrease space below each paragraph */
  }
}
