.experience {
  background-color: #333; /* Dark background as seen in the image */
  color: #c0c0c0; /* Grey text for the content */

  padding: 20px;
  border-radius: 5px;
}

.experience h1 {
  text-align: left;
  color: #ffffff; /* White color for the section title */
  display: inline-block; /* To allow the border to fit the text */
  margin-bottom: 20px;
}

.experience ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
}

.experience-item {
  background: #000000; /* Slightly lighter dark background for list items */
  border-left: 4px solid #76b852; /* Green bar for positive effect */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.experience-title {
  color: #ffffff; /* White color for job title */
  margin: 0 0 5px 0; /* Spacing for the title */
  font-size: 1.2em; /* Slightly larger font size for the title */
}

.experience-item p {
  color: #c0c0c0; /* Grey text for the content */
  margin: 5px 0;
}

.techstack {
  color: #4caf50; /* Green color to highlight the tech stack */
  font-weight: bold; /* Make the tech stack bold */
}

/* Optional: Add a hover effect */
.experience-item:hover {
  background: #292929; /* Darker background on hover */
  transition: background-color 300ms ease-in-out;
}
