.App {
  text-align: center;
  background-color: black;
  color: white;
}

.home {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 5.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .App {
    text-align: left;
  }

  .home {
    animation-name: fadeIn;
    animation-duration: 2s;
  }

  .loading {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-delay: 5.5s;
  }
}

@media screen and (max-width: 480px) {
  .App {
    text-align: left;
  }

  .home {
    animation-name: fadeIn;
    animation-duration: 2s;
  }

  .loading {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-delay: 5.5s;
  }
}
@media (max-width: 768px) {
  .icons {
    font-size: 20px;
    margin-right: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}
