/* Nav.css */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.left-side {
  display: flex;
  align-items: center;
}

.left-side .logo {
  margin-right: 15px;
}

.left-side h1 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#nav-list .nav-item {
  margin-left: 20px;
}

#nav-list .nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

#nav-list .nav-item a:hover {
  background-color: #000000;
  border-radius: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }

  .left-side {
    justify-content: center;
    margin-bottom: 10px;
  }

  #nav-list {
    justify-content: center;
  }

  #nav-list .nav-item {
    margin: 5px 0; /* Stack the items vertically with space between */
  }
}
